*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;

  background: #f6f7f9;
  color: #111827;
}


img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100%;
}
